APP_HOST=dogfinder.example.dev
S3_HOST=s3.example.dev

POSTGRES_USER=dogfinder
POSTGRES_PASSWORD=
POSTGRES_DB=dogfinder

MINIO_ROOT_USER=dogfinder
MINIO_ROOT_PASSWORD=

SECRET_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=DogFinder <noreply@example.dev>
SMTP_TLS=true

NOTIFICATIONS_ENABLED=true
