DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname
DEBUG=true

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=pet-photos

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
